#contextmenu {
    position: absolute;
    /*height: 10px;*/
    width: 190px;
    border: 1px solid var(--window-border-color);
    background-color: var(--secondary-background-color);
    box-shadow: 0px 0px 1px 1px var(--window-border-color)000;
    color: var(--secondary-text-color);
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    z-index: 99999;
}

#contextmenu ul {
    list-style-type: none;
}

#contextmenu li {
    padding: 3px;
}