:root {
    --background-color: #293C47;
    --secondary-background-color: #4297A1;
    --stroke-color: #49b58e;
    --fill-color: #2E6D75;
    --highlight-color: #60e467;
    --reg-stroke-color: #4297A1;
    --reg-fill-color: #4297A1;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #4ee258;
    --active-cable-color: #ffcb4e;
    --active-register-color: #ffcb4e;
    --bus-inactive-color: #00aef5;
    --bus-active-color: #ec00f5;
    --bus-blue-color: #cccc;
    --window-border-color: #000000;
    --icon-es-stroke: #0f0;
}

body {
    background-color: var(--background-color);
}

.tmp {
    fill: none;
    stroke: var(--stroke-color);
    stroke-width: 1.5;
}

#triggerline {
    fill: none;
    stroke: var(--highlight-color);
    stroke-width: 1.5;
}

.register-sq-outer,
.bus,
.alu-keystone,
.alu-keystone {
    fill: var(--fill-color);
    stroke: var(--stroke-color);
    stroke-width: 1.5;
}

.register-sq-inner,
.register-sq-step,
[class^="alu-reg"] {
    fill: var(--reg-fill-color);
    stroke: var(--reg-stroke-color);
    stroke-width: 1.8;
}

.register-value,
.alu-text {
    fill: var(--main-text-color);
}

body {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}

.component-label {
    fill: var(--stroke-color);
}

#mousebox {
    position: absolute;
    /*height: 10px;*/
    width: 190px;
    border: 1px solid var(--stroke-color);
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}

.path {
    stroke-width: 2
}

.signal-inactive {
    /*    stroke-width: 2*/
}

.signal-inactive text {
    fill: var(--stroke-color);
}

.signal-inactive [class^=arrow] {
    fill: var(--stroke-color);
}

.signal-inactive polyline {
    fill: none;
    stroke: var(--stroke-color);
}

.int-inactive text {
    fill: var(--stroke-color);
}

.int-inactive [class^=arrow] {
    fill: var(--stroke-color);
}

.int-inactive polyline {
    fill: none;
    stroke: var(--stroke-color);
}

.int-active {

    stroke-width: 2
}

.int-active text {
    fill: var(--active-cable-color);
}

.int-active [class^=arrow] {
    fill: var(--active-cable-color);
}

.int-active polyline {
    fill: none;
    stroke: var(--active-cable-color);
}


.bus-inactive text {
    fill: var(--bus-inactive-color);
}

.bus-inactive polyline {
    fill: none;
    stroke: var(--bus-inactive-color);
}

.bus-inactive [class^=arrow-] {
    fill: var(--bus-inactive-color);
}


.wire-text {
    fill: var(--stroke-color);
    font-size: 4px;
}

.arrow-bullet-inactive {
    fill: var(--stroke-color);
}

.arrow-bullet-active {
    fill: var(--active-cable-color);
}

.signal-active {

    stroke-width: 2
}

.signal-active text {
    fill: var(--active-cable-color);
}

.signal-active [class^=arrow] {
    fill: var(--active-cable-color);
}

.signal-active polyline {
    fill: none;
    stroke: var(--active-cable-color);
}

.bus-active text {
    fill: var(--bus-active-color);
}

.bus-active polyline {
    fill: none;
    stroke: var(--bus-active-color);
}

.bus-active [class^=arrow-] {
    fill: var(--bus-active-color);
}


.bus-blue {
    fill: var(--bus-blue-color);
    stroke: var(--active-cable-color);
}

*:focus {
    outline: none;
}

/* put anchor focus changes here */
a:focus {
    outline: none;
}

/* put input focus changes here */
input:focus {
    outline: none;
}

input {
    border: 0px;
}

.icons-es {
    stroke: var(--icon-es-stroke);
}

.register-value {
    font-family: monospace !important;
}

#alu .active,
.register-value.active {
    /* font-family: monospace !important; */
    fill: var(--active-register-color)
}



#SAB.active .bus,
#SDB.active .bus {
    stroke: var(--bus-active-color) !important;
    fill: #f175f5 !important;
}

#SAB.active .register-value,
#SDB.active .register-value {
    fill: var(--active-cable-color);
}

#SAB.active text.register-value,
#SDB.active text.register-value {
    fill: #000
}


/* .inputshadow {
    -webkit-box-shadow: inset 0 0 10px var(--window-border-color);
    -moz-box-shadow: inset 0 0 10px var(--window-border-color);
    box-shadow: inset 0 0 10px var(--window-border-color);
} */